sides { 
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form {
    background-color: lightgrey;
    height: 300px;
    width: 300px;
    padding: 50px;
    border: 15px solid green;
    margin: 20px;
    text-align: center;

}
.input-field {
    text-align: center;
    height: 20px;
    width: 200px;
    margin: 20px;
    padding: 0;

}
#display {
    text-align: center;
    padding: 0;
    margin: 0;
    width: 200px;
    height: 20px;

}
